secrets.yaml
known_devices.yaml
home-assistant.log
.uuid
.HA_VERSION
ip_bans.yaml
html5_push_registrations.conf
db/*
.storage
./.shopping_list.json
tts/*
.env
traefik/acme.json
traefik/traefik.toml
**/__pycache__/
home-assistant_v2.db