config/secrets.yaml
config/known_devices.yaml
config/home-assistant.log
config/.uuid
config/.HA_VERSION
config/ip_bans.yaml
config/html5_push_registrations.conf
config/db/*
config/.storage/*
config/.shopping_list.json
!config/.storage/lovelace
!config/.storage/person
config/tts/*
.env
**/__pycache__/
config/home-assistant_v2.db
pihole/*
