# Use this file to store secrets like usernames and passwords.
# Learn more at https: XXXXXX
http_password: XXXXXX

home_name: XXXXXX
home_latitude: XXXXXX
home_longitude: XXXXXX

tplink_router_login: XXXXXX
tplink_router_password: XXXXXX

xiaomi_gateway_key: XXXXXX

google_assistant_project_id: XXXXXX
google_assistant_client_id: XXXXXX
google_assistant_api_key: XXXXXX

http_base_url: XXXXXX
http_ssl_cert_path: XXXXXX
http_ssl_key_path: XXXXXX