# Use this file to store secrets like usernames and passwords.
# Learn more at https: XXXXXX
http_password: XXXXXX

gpslogger_password: XXXXXX

grafana_panel_url: XXXXXX

# COORDINATES
home_name: XXXXXX
home_latitude: XXXXXX
home_longitude: XXXXXX

evgeny_work_name: XXXXXX
evgeny_work_latitude: XXXXXX
evgeny_work_longitude: XXXXXX

jane_work_name: XXXXXX
jane_work_latitude: XXXXXX
jane_work_longitude: XXXXXX
#COORDINATES END

tplink_router_login: XXXXXX
tplink_router_password: XXXXXX

xiaomi_gateway_mac: XXXXXX
xiaomi_gateway_key: XXXXXX
xiaomi_gateway_host: XXXXXX

google_assistant_project_id: XXXXXX
google_assistant_client_id: XXXXXX
google_assistant_api_key: XXXXXX
google_assistant_access_token: XXXXXX

http_base_url: XXXXXX
http_ssl_cert_path: XXXXXX
http_ssl_key_path: XXXXXX

mqtt_user: XXXXXX
mqtt_password: XXXXXX

fcm_sender_id: XXXXXX
fcm_api_key: XXXXXX

influx_db_user: XXXXXX
influx_db_password: XXXXXX

kitchen_power_strip_ip_1: XXXXXX
kitchen_power_strip_token_1: XXXXXX
bedroom_power_strip_ip_1: XXXXXX
bedroom_power_strip_token_1: XXXXXX

bedroom_air_humidifier_ip_1: XXXXXX
bedroom_air_humidifier_token_1: XXXXXX